// Body
$body-bg: #f8fafc;
$temp-grey: #F2F2F2;

// Typography
$font-family-sans-serif: 'Cabin', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary-color: #FE3B3A;
$highlight: #FE3B3A;

$text-black: #383838;
$black: #383838;
$bg-dark-grey: #343434;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
